body {
	background-color: #FFFFFF;
	font-family: "Trebuchet MS";
	color: #000000;
	padding: 10px;
}

div {
	margin-bottom: 20px;
}

div.navigation {
	text-align: left;
	font-size: 10px;
	padding: 0px;
	color: #000000;
}

div#container {
	text-align: center;
	width: 1000px;
	margin: auto;
}

h1 {
	font-size: 17px;
	display: none;
}

h2 {
	font-size: 15px;
	display: none;
}

img {
	border: 1px solid #444444;
}
img#homepageImage {
	border: 0px none #444444;
	margin-bottom: 20px;
}

div#footer {
	margin-top: 50px;
	font-size: 10px;
	color: #CCCCCC;
}

div#blogImage {
	margin-bottom: 40px;
}

div#footer hr {
	height: 0px;
	border: 1px solid #CCCCCC;
	color: #CCCCCC;
	background-color: #CCCCCC;
	width: 300px;
}

a:link {
	text-decoration: underline;
	color: #000000;
}

a:visited {
	text-decoration: underline;
	color: #000000;
}

a:active {
	text-decoration: underline;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

div#footer a:link {
	text-decoration: underline;
	color: #CCCCCC;
}

div#footer a:visited {
	text-decoration: underline;
	color: #CCCCCC;
}

div#footer a:active {
	text-decoration: underline;
	color: #CCCCCC;
}

div#footer a:hover {
	text-decoration: none;
	color: #CCCCCC;
}

div.description a:link {
	text-decoration: underline;
	color: #FFFFFF;
}

div.description a:visited {
	text-decoration: underline;
	color: #FFFFFF;
}

div.description a:active {
	text-decoration: underline;
	color: #FFFFFF;
}

div.description a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

div.information a:link, div.warning a:link {
	text-decoration: underline;
	color: #FFFFFF;
}

div.information a:visited, div.warning a:visited {
	text-decoration: underline;
	color: #FFFFFF;
}

div.information a:active, div.warning a:active {
	text-decoration: underline;
	color: #FFFFFF;
}

div.information a:hover, div.warning a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

img#compass {
	float: right;
	border: 0px;
}

div.textContent {
	text-align: left;
}

div.textContentCenter {
	text-align: center;
}

div.textContentRight {
	text-align: right;
}

.noBorder {
	border: 0px none;
}

div.photo {
	border: 2px solid #000000;
	margin-left:0px;
	margin-right:0px;
	padding: 2px;
	background-color: #000000;
	color: #FFFFFF;
	margin-bottom: 60px;
}

div.title {
	text-align: center;
	margin-bottom: 5px;
}

div.description {
	text-align: left;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
}

div.photo img{
	border: 0px;
	margin: 0px;
}

div.information {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 30px;
	border: 1px solid #999999;
	background-color: #000000;
	font-size: 11px;
	color: #FFFFFF;
	text-align: left;
	padding: 5px;
}

img.resizeWidthToRegular {
	width: 990px;
}

.hidden {
	display: none;
}

.aroundImage  {
	position:relative;
	margin: 0px;
	padding: 0px;
	border: 0px;
	cursor: pointer;
}

.warning {
	position: absolute;
	top: 100px;
	left: 395px;
}